.home-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
    text-align: center;
    flex-direction: column;

}
.react-typewriter-text{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.btn-check{
    
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    border-style: none;
}