.home-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
    text-align: center;
    flex-direction: column;

}
.react-typewriter-text{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}
.btn{
    color: #ffffff;
    background-color: rgba(44, 62, 80,0.2);
    font-size: 30px;
    border-radius: 5px;
    border-radius: 10px;
    padding: 10px;
}