.home-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
    text-align: center;
    flex-direction: column;

}
.react-typewriter-text{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}
.btn{
    color: #ffffff;
    background-color: rgba(44, 62, 80,0.8);
    font-size: 20px;
    border-radius: 7px;
    padding: 10px;
    border: 3px solid #ffffff;
    cursor: pointer;
}

.btn:hover{
    background-color: #ffffff;
    color: rgb(44, 62, 80);
}