.prod-container{
    width: 7rem ;
    height: 10rem;
}
.prod-container img{
    width: 100px;
    height: 150px;
}
.products-container{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    min-height: 84vh;
}